.font {
    color: maroon;
}
.testi {
    color: maroon;
}
.feature3{
  color: maroon;
}
.feature2{
  color: midnightblue;
}
.feature1{
  color: midnightblue;
}
.card-title{
  color: maroon;
}
.card-text{
  color: midnightblue;
}
.widget-title{
  color: lightgrey;
}
.widget-body{
  color: lightyellow;
}
.footer{
  color:midnightblue;
}

